.container {
    font-family: cursive;
}

.box-1 a {
    color: aqua;
    text-decoration: none;
    padding: 10px;
}

.p1 {
    float: left;
    width: 60%;
    font-size: 20px;
    margin: 10px;
}

.box-1-1 a {
    float: left;
    width: 10%;
    text-decoration: none;
    color: aqua;
    margin: 10px;
    font-size: 16px;
}

.box-2 {
    margin-top: 3%;
    margin-left: 10%;
    box-sizing: border-box;
}

.box-2-1 {
    float: left;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.box-2 img {
    width: 70%;
    border-radius: 50%;
}

.box-2-2 {
    text-shadow: 2px 2px 4px black;
    font-size: 30px;
    float: left;
    width: 40%;
    color: aqua;
    padding-top: 8%;
    box-sizing: border-box;
}

.nothing {
    position: relative;
    height: 500px;
    width: 100%;
}

.icon {
    position: absolute;
    top: 50%; /* Adjust to move the icon vertically */
    left: 0; /* Start position of the icon */
    animation: moveIcon 2s linear infinite; /* Animation duration and timing */
}

@keyframes moveIcon {
    0% {
      left: 0; /* Start position */
    }
    50% {
      left: 50%; /* Midway position */
    }
    100% {
      left: 100%; /* End position */
    }
  }

.box3 {
    height: 400px;
    width: 100%;
}

.footer p {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: aqua;
    text-shadow: 2px 2px 4px black;
    width: 100%;
    padding-top: 80px;
}