<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="classes.css">
</head>
<body>
    
    <div class="header">
        <p style="text-align: center;font-size: 20px;color: red">Header</p>
      </div>

    <div class="container">
        <div class="sidebar">
            <p style="text-align: center;font-size: 20px;color: red">Sidebar</p>
          </div>
    
        <div class="maincontent">
              <p style="text-align: center;font-size: 20px;color: red">Main Content</p>
            </div>
    </div>
          
    <div class="footer">
        <p style="text-align: center;font-size: 20px;color: red">Footer</p>
      </div>

</body>
</html>