.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 360px;
    margin: 0 auto;
  }
  
.box {
    width: calc(100% - 10px);
    height: 60px;
    margin-bottom: 20px;
    background:#cbcbcb
  }
  